*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", system-ui, sans-serif;
}

body {
    height: 100vh;
    background: #313338;
    color: #e4e6eb;
}


main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 20px;
    background-color: #1e1f22;
    border-radius: 20px;
}

#content h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 300px;
}


input{
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #2b2d31;
    color: white;
}

button[type="submit"]{
    margin-left: 10px;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: #5865f2;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
p {
    margin-top: 15px;
    color: #b5bac1;
}

a {
    color: #5865f2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}