<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WebSocket Chat</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div>
            <h1>WebSocket Chat</h1>
            
        </div>
        
      
        <p>Your ID: <span id="ws-id"></span></p>
        <input id="input-msg" placeholder="Message">
        <button id="send-btn" onclick="send()">Envoyer</button>

        <ul id="chat"></ul>

        
    <script src="../static/js/chat.js"></script>
    </body>
</html>